/* Google Font */
<style>
  @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
</style>
:root{
    --poppins: 'Poppins', sans-serif;
    --manrope: 'Manrope', sans-serif;
}
/* Common CSS */
*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul, li{
    list-style: none;
}
/* Header Section Start*/
header{
    background-color: #264653;
}
/* Navbar Section */
.bz-navbar{
    padding: 42px 0 69px;
}
.bz-navbar-nav{
    gap: 36px;
    margin-right: 100px;
} 
.bz-navbar-nav li a{
    font-family: var(--poppins);
    padding: 0 !important;
}
.bz-nav-btn{
    background-color: #E76F51;
    padding: 10px 24px !important;
}
.navbar-toggler-icon {
    width: 2.25rem;
    height: 2.25rem;
    background-image: url(/images/icons/menu.png);
}
/* Banner Section */
.bz-banner-text{
    width: 456px;
}
.bz-banner-text h3, h1, p{
    font-family: var(--poppins);
}
.bz-banner-text h3{
    font-size: 14px;
}
.bz-banner-text h1{
    font-size: 48px;
}
.bz-banner-text p{
    font-size: 16px;
}
.bz-banner-text button{
    background-color: #E76F51;
    padding: 10px 46px;
}
/* Header Section End*/
/* Main Section Start */
/* Feature Bikes Section */
.feature-heading h2{
    font-family: var(--poppins);
    font-size: 48px;
}
.feature-heading p{
    font-family: var(--poppins);
    font-size: 14px;
    color: #E76F51;
    margin-bottom: 4px !important;
}
.feature-heading hr{
    width: 58px;
    border: 1px solid #E76F51;
}
/* Latest News Section */
.latest-heading{
    font-family: var(--poppins);
    font-size: 48px;
}
.bz-card-body{
    padding: 0;
}
.bz-card-body h5{
    font-family: var(--poppins);
    font-size: 28px;
}
.bz-card-body p{
    font-family: var(--poppins);
    font-size: 16px;
}
.bz-card-body button{
    font-family: var(--poppins);
}
/* Main Section End */